<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Spell Buddy</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">Spells</a></li>
                <li><a href="#/setup">Setup</a></li>
                <li><a href="#/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="delete-item-confirm" class="alert alert-danger" role="alert" ng-show="toDelete > 0">
				<div class="form-inline">
					<div class="form-group">
						<button class="btn btn-sm btn-danger" ng-click="delete(toDelete)">Yes, I'm sure</button>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default" ng-click="toDelete = 0">No, cancel</button>
					</div>
					<div class="form-group pull-right">
						<p class="lead text-danger">
							Are you sure you want to permanently remove this spell?
						</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="spdAccordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#spdAccordion" href="" data-target="#spdCollapse">
                                Spells Per Day Click to Edit
                            </a>
                        </h4>
                    </div>
                    <div id="spdCollapse" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form name="spdForm">
                                <div ng-class="{'col-lg-offset-1': level === 'known0' || level === 'known5'}" class="col-lg-2" ng-repeat="(level, spd) in spellSetup" ng-if="isKnown(level)">
                                    <div class="form-group">
                                        <label>Level {{ level | setup }}</label>
                                        <input type="number" min=0 class="form-control" ng-model="spellSetup[level]" placeholder="Level {{ level | setup}}" required="true">
                                    </div>
                                </div>
                            </form>
                            <div class="col-lg-offset-1 col-lg-10">
                                <button class="btn btn-primary btn-block" ng-click="saveSpellsKnown()" ng-disabled="!spdForm.$valid" data-toggle="collapse" data-target="#spdCollapse">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <span ng-repeat="let in letters" ng-click="getFirstLetter(let)" ng-class="{'label-primary':letter === let, 'label-default': letter !== let}" class="label">{{let}}</span>&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="pagination pagination-sm">
                            <li ng-class="{'disabled' : lb === page}">
                                <a href="" aria-label="Previous" ng-click="showSpells(page - 1)" ng-class="{'disabled' : lb === page}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="i in [] | range:this" ng-class="{'active': i === page}"><a href="" ng-click="showSpells(i)">{{i}}</a></li>
                            <li ng-class="{'disabled' : page === ub}">
                                <a href="" ng-click="showSpells(page + 1)">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 pagination">
                        <form class="form-horizontal">
                            <label class="col-lg-7 control-label">Spells per page</label>
                            <div class="col-lg-5">
                                <select class="form-control" ng-model="pageSize" ng-change="showSpells(page)">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="panel-group" id="dndSpellAccordion" role="tablist">
                <div class="panel panel-default" ng-repeat="(i, dndSpell) in displaySpells">
                    <div class="panel-heading clearfix" role="tab" id="heading{{ dndSpell.id }}">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dndSpellAccordion" href="" data-target="#dndSpell{{ dndSpell.id }}">
                                {{dndSpell.name}}
                            </a>
                            <div class="input-group pull-right col-lg-4 input-group-sm">
                                <input type="text" class="form-control" placeholder="Level" ng-model="newLevel">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="addSpell(newLevel, i); newLevel = ''">Add Spell</button>
                                </span>
                            </div>
                        </h4>
                    </div>
                    <div id="dndSpell{{ dndSpell.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span ng-bind-html="dndSpell.descriptionHtml"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Spell
                        <a href="" ng-click="clear()" class="pull-right">Clear</a>
                    </h4>
                </div>
                <div class="panel-body">
                    <form name="spellForm">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" ng-model="spell.name" placeholder="Spell Name" required="true">
                                </div>
                                <div class="form-group">
                                    <label>School</label>
                                    <input type="text" class="form-control" ng-model="spell.school" placeholder="School" required="true">
                                </div>
                                <div class="form-group">
                                    <label>Type</label>
                                    <input type="text" class="form-control" ng-model="spell.spellType" placeholder="Type">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Level</label>
                                    <input type="number" min="0" max="9" name="level" class="form-control" ng-model="spell.level" placeholder="Level" required="true">
                                </div>
                                <div class="form-group">
                                    <label>Components</label>
                                    <input type="text" class="form-control" ng-model="spell.components" placeholder="Components" required="true">
                                </div>
                                <div class="form-group">
                                    <label>Casting Time</label>
                                    <input type="text" class="form-control" ng-model="spell.castingTime" placeholder="Casting Time" required="true">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Range</label>
                                    <input type="text" class="form-control" ng-model="spell.spellRange" placeholder="Range">
                                </div>
                                <div class="form-group">
                                    <label>Target</label>
                                    <input type="text" class="form-control" ng-model="spell.spellTarget" placeholder="Target">
                                </div>
                                <div class="form-group">
                                    <label>Effect</label>
                                    <input type="text" class="form-control" ng-model="spell.effect" placeholder="Effect">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Area</label>
                                    <input type="text" class="form-control" ng-model="spell.area" placeholder="Area">
                                </div>
                                <div class="form-group">
                                    <label>Duration</label>
                                    <input type="text" class="form-control" ng-model="spell.spellDuration" placeholder="Duration" required="true">
                                </div>
                                <div class="form-group">
                                    <label>Saving Throw</label>
                                    <input type="text" class="form-control" ng-model="spell.savingThrow" placeholder="Saving Throw" required="true">
                                </div>
                                <div class="form-group">
                                    <label>Spell Resistance</label>
                                    <input type="text" class="form-control" ng-model="spell.spellResistance" placeholder="Spell Resistance" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" ng-model="spell.description" rows="5" style="resize:none;" placeholder="Description" required="true"></textarea>
                        </div>
                    </form>
                    <button class="btn btn-primary btn-block" ng-click="saveSpell()" ng-disabled="!spellForm.$valid">Save</button>
                </div>
            </div>
        </div> -->

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Spells Known/Favorite Spells
                </div>
                <div class="panel-body">
                    <div class="panel-group" id="spellAccordion" role="tablist">
                        <div class="panel panel-default" ng-repeat="(level, levelsSpells) in spellSetup" ng-if="isPicked(level) && levelsSpells.length > 0">
                            <div class="panel-heading" role="tab" id="heading{{ level }}">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#spellAccordion" href="" data-target="#collapse{{ level }}">
                                        Level {{ level | setup }} Spells
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ level }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <li class="list-group-item clearfix" ng-repeat="(i, s) in levelsSpells">
                                        {{ s.name }}
                                        <div class="input-group pull-right col-lg-5 input-group-sm">
                                            <input type="text" class="form-control" placeholder="Level" ng-model="newLevel">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" ng-click="changeLevel(level, newLevel, i)">Change Level</button>
                                                <button class="btn btn-danger" ng-click="delete(level, i)">Delete</button>
                                            </span>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
